.Reviews {
  grid-row: 3 / span 1;
  grid-column: 1 / -1;

  /* New Grid */
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.Reviews h3 {
  grid-row: 1 / span 1;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 170%;
}

.ReviewsList {
  grid-row: 2 / span 1;
  font-size: 80%;
  background-color: rgb(228, 233, 216);
  padding: 30px 0;
  margin: 0 40px;
  /* New Grid */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 10px;
}
.Review1 {
  grid-column: 2 / span 2;

  /* Flex */
  display: flex;
}
.Review2 {
  grid-column: 4 / span 2;
  display: flex;
}
.Review3 {
  grid-column: 6 / span 2;
  display: flex;
}
/* col 8 row 4 */
