.PersonalDetails {
  margin: 10px;
  text-align: center;
}

.PersonalDetails img {
  width: 70px;
  height: auto;
  border-radius: 100px;
}

.ReviewInfo {
  margin-top: 10px;
}
.Quote {
  padding: 10px 0;
}
